body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
}




div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}


div {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 2px;
    background-color: #fff;
}



@media screen and (min-width: 772px) {


    main div {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        margin: 2%;
        box-sizing: border-box;
        text-align: center;
    }


    main div img {
        height: 30vh;
        width: 100%;
        object-fit: cover;
        display: block;
    }
}



@media screen and (min-width: 998px) {


    main div {
        width: 30%;
        margin: 1.5%;
    }


}